# created by virtualenv automatically
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
*.log
config.py
pyvenv.cfg
venv/
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
Lib/
libs/
Include/
Scripts/
instance/
*/node_modules/
*/dist/
package-lock.js

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
