div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 80px;					
    height: 60px;					
    padding: 2px 0px 0px 4px;				
    font: 10px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 6px;			
    pointer-events: none;			
}

div.line_tooltip {
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 45px;					
    padding: 4px 2px 0px 2px;				
    font: 10px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 6px;			
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px 0px -4px 0px
}

.grid-item {
    text-align: left;
}

.grid-row::before {
    color: red;
    content: "* ";
  }

.grid-row {
    font-style: italic;
    padding: 2px;
    grid-column-start: 1; 
    grid-column-end: 3; 
}

.note {
    padding: 50px;
}

.chart select.dropdown { 
    padding: 0.5em;
    align-items: center;
}